.general-container{
     /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);  */
     overflow-x:hidden;
     overflow-y:hidden;
     min-height: 100vh;
     margin-top: 0;
     background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    }
#alert{
    background-color: rgb(255, 0, 0,0.7);
    width: 50%;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: steelblue;
    width: 350px;
    height: 410px;
    margin: auto;
    position: relative;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); 
    -webkit-box-shadow: 3px 18px 29px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 18px 29px -22px rgba(0,0,0,0.75);
    box-shadow: 3px 18px 29px -22px rgba(0,0,0,0.75);
}
.container-icon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 3px 18px 29px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 18px 29px -16px rgba(0,0,0,0.75);
    box-shadow: 3px 18px 29px -16px rgba(0,0,0,0.75);
    
}
.icon-user{
    color: white;
    font-size: 90px;
    position: relative;
    bottom: -20px;
    
}
.container-input{
    padding-bottom: 20px;

}
.container-input input{
    text-align: center;
    height: 40px;
    width: 250px;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
    color:rgb(59,193,153);
    background: none;
    transition:  1s all;
    border-bottom: 3px solid rgb(43,66,106,0.6);
    box-shadow: inset -6px -20px 23px -25px rgba(0,0,0,0.51);
}
.container-input input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 3px solid rgb(59,193,153);
  -webkit-text-fill-color: rgb(59,193,153);
  -webkit-box-shadow: 0 0 0px 1000px #424a76 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container-input input::placeholder{
    color: rgb(107, 151, 151);
}

.container-input input:focus{
  
    transition:  1s all;
    border-bottom: 3px solid rgb(59,193,153) ;

}
.container-input button{
    margin-top: 20px;
    width: 250px;
    height:60px ;
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    border: none;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    
}
.container-input button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}
.container-input button:active{
    position:relative;
	top:1px;
}
#error{
    color: red;
    font-weight: bold;
}
